/* Wrapper around lore paragraphs */
.lore-columns {
  margin-bottom: 2.5rem;
  column-count: 3;
  column-gap: 1rem;
  column-rule: var(--lore-column-rule);
  hyphens: auto;
  
  p {
    break-inside: avoid-column;    /* try not to split a single <p> across columns */
  }
  
  h2, h3, h4 {
    margin-top: 0;
    padding-top: 0;
    break-after: avoid;
    break-inside: avoid-column;
    page-break-inside: avoid;
    /* &::after {
      content: "";
      display: block;
      --special-break-height: 300px;
      height: var(--special-break-height);
      margin-bottom: calc(-1 * var(--special-break-height));
    } */
    /* &::before {
      content: "";
      display: block;
      height: 8rem;
      margin-bottom: -8rem;
      page-break-inside: avoid;
      break-inside: avoid;
     } */
  }
}

@media(max-width: 1140px) {
  .lore-columns {
    column-count: 2;
  }
}
/* Make it single-column on narrower screens */
@media (max-width: 850px) {
  .lore-columns {
    column-count: 1;
    column-rule: none;
  }
}

.col-handler {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1em;
}
@media(max-width: 1140px) {
  .col-handler {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 850px) {
  .col-handler {
    grid-template-columns: repeat(1, 1fr);
  }
}