ul, ol {
  padding-left: 1.5rem;
}
ul {
  list-style-type: "-  ";
}
ol.roman {
  list-style-type: upper-roman;
}

/* Wrapper around lore paragraphs */
.lore-columns {
  margin-bottom: 2.5rem;
  column-count: 3;
  column-gap: 1rem;
  column-rule: var(--lore-column-rule);
  hyphens: auto;
  
  p,
  ul, ol, li {
    break-inside: avoid-column;
  }

  h2, h3, h4, h5, h6, div.simple-header {
    margin-top: 0;
    padding-top: 0;
    break-before: auto;
    break-inside: avoid-column;
    break-after: avoid-column;

    &::after {
      content: "";
      display: block;
      --special-break-height: 200px;
      height: var(--special-break-height);
      margin-bottom: calc(-1 * var(--special-break-height));
      /* break-before: avoid-column;
      break-inside: avoid-column;
      break-after: avoid-column; */
    }
    /* &::before {
      content: "";
      display: block;
      height: 8rem;
      margin-bottom: -8rem;
      page-break-inside: avoid;
      break-inside: avoid;
     } */
  }
}

@media(max-width: 1140px) {
  .lore-columns {
    column-count: 2;
  }
}
/* Make it single-column on narrower screens */
@media (max-width: 850px) {
  .lore-columns {
    column-count: 1;
    column-rule: none;
  }
}

.col-handler {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1em;
}
@media(max-width: 1140px) {
  .col-handler {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 850px) {
  .col-handler {
    grid-template-columns: repeat(1, 1fr);
  }
}