:root {
  --primary-light-l: 37%;
  --primary-dark-l: 57%;
  --accent-light-l: 47%;
  --accent-dark-l: 77%;
  --bg-light-l: 97%;
  --bg-dark-l: 23%;

  /* ashborn */
  --ashborn-faction-primary: light-dark(
    oklch(var(--primary-light-l) 0.19363 35),
    oklch(var(--primary-dark-l) 0.19363 35)
  );
  --ashborn-faction-accent: light-dark(
    oklch(var(--accent-light-l) 0.19742 46),
    oklch(var(--accent-dark-l) 0.19742 46)
  );
  --ashborn-faction-background: light-dark(
    oklch(var(--bg-light-l) 0.002 17),
    oklch(var(--bg-dark-l) 0.015 18)
  );
  
  /* stoneveined */
  --stoneveined-faction-primary: light-dark(
    oklch(var(--primary-light-l) 0.09814 39),
    oklch(var(--primary-dark-l) 0.04169 39)
  );
  --stoneveined-faction-accent: light-dark(
    oklch(var(--accent-light-l) 0.05115 41),
    oklch(var(--accent-dark-l) 0.05115 41)
  );
  --stoneveined-faction-background: light-dark(
    oklch(var(--bg-light-l) 0.00327 15),
    oklch(var(--bg-dark-l) 0.00297 16)
  );

  /* thornwraith */
  --thornwraith-faction-primary: light-dark(
    oklch(var(--primary-light-l) 0.14321 144),
    oklch(var(--primary-dark-l) 0.14321 144)
  );
  --thornwraith-faction-accent: light-dark(
    oklch(var(--accent-light-l) 0.14662 133),
    oklch(var(--accent-dark-l) 0.14662 133)
  );
  --thornwraith-faction-background: light-dark(
    oklch(var(--bg-light-l) 0.015 145),
    oklch(var(--bg-dark-l) 0.015 145)
  );

  /* umbral */
  --umbral-faction-primary: light-dark(
    oklch(var(--primary-light-l) 0.00004 271),
    oklch(var(--primary-dark-l) 0.00004 271)
  );
  --umbral-faction-accent: light-dark(
    oklch(var(--accent-light-l) 0.18784 307),
    oklch(var(--accent-dark-l) 0.22203 307)
  );
  --umbral-faction-background: light-dark(
    oklch(var(--bg-light-l) 0.00011 271),
    oklch(var(--bg-dark-l) 0.00003 271)
  );

  /* vastfathom */
  --vastfathom-faction-primary: light-dark(
    oklch(var(--primary-light-l) 0.13699 244),
    oklch(var(--primary-dark-l) 0.13699 244)
  );
  --vastfathom-faction-accent: light-dark(
    oklch(var(--accent-light-l) 0.09535 206),
    oklch(var(--accent-dark-l) 0.09535 206)
  );
  --vastfathom-faction-background: light-dark(
    oklch(var(--bg-light-l) 0.01655 285),
    oklch(var(--bg-dark-l) 0.02068 285)
  );

  /* zephpter */
  --zephpter-faction-primary: light-dark(
    oklch(var(--primary-light-l) 0.19976 312.627),
    oklch(var(--primary-dark-l) 0.19976 312.627)
  );
  --zephpter-faction-accent: light-dark(
    oklch(var(--accent-light-l) 0.18467 289),
    oklch(var(--accent-dark-l) 0.13863 295)
  );
  --zephpter-faction-background: light-dark(
    oklch(var(--bg-light-l) 0.04915 319),
    oklch(var(--bg-dark-l) 0.01804 309)
  );

  /* wanderlost */
  --wanderlost-faction-primary: light-dark(
    oklch(var(--primary-light-l) 0.02954 226),
    oklch(var(--primary-dark-l) 0.02954 226)
  );
  --wanderlost-faction-accent: light-dark(
    oklch(var(--accent-light-l) 0.085 181),
    oklch(var(--accent-dark-l) 0.085 181)
  );
  --wanderlost-faction-background: light-dark(
    oklch(var(--bg-light-l) 0.00275 285),
    oklch(var(--bg-dark-l) 0.00476 248)
  );
}
