.kit {
  --indent: .5em;
}
.kit > * {
  margin-left: var(--indent);
}
.kit .name {
  --indent: 0;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: .5em;
}

.kit .benefits {
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgb(1, 26, 49);
}

.kit .tags {
  font-size: .8em;
}
.kit .tags .tag {
  display: inline-block;
  margin: .1em;
  padding: .1em .5em;
  background-color: rgb(6, 58, 107);
  color: white;
  border-radius: 5px;
}