.kit {
  --indent: .5em;
}
.kit > * {
  margin-left: var(--indent);
}
.kit .name {
  --indent: 0;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: .5em;
}

.kit .benefits-label {
  font-weight: bold;
  margin-top: .5em;
}

.kit .benefits {
  padding-left: 1em;
  padding-right: 1em;
  padding: .25em;
}

.kit .weapon,
.kit .item,
.kit .training {
  margin-bottom: .5em;
  padding: .5em;
  border-radius: 5px;
}
.kit .weapon {
  background-color: hsl(27, 91%, 17%);
}
.kit .item {
  background-color: hsl(162, 90%, 11%);
}
.kit .training {
  background-color: hsl(209, 89%, 22%);
}

.kit .tags {
  font-size: .8em;
}

.kit .tags .tag {
  display: inline-block;
  margin: .1em;
  padding: .1em .5em;
  background-color: rgb(6, 58, 107);
  color: white;
  border-radius: 5px;
}
.kit .weapon .tag {
  background-color: hsl(27, 91%, 27%);
}
.kit .item .tag {
  background-color: hsl(162, 90%, 21%);
}
.kit .training .tag {
  background-color: hsl(209, 89%, 32%);
}


.kit .weapon .weapon-name {
  text-decoration: underline;
}

.kit .details-indent {
  margin-left: 1em;
}

.kit .tags {
  margin-left: 1.5em;
}

.kit .description {
  font-style: italic;
  font-size: .9em;
  color: hsl(0, 0%, 70%);
}

.kit .weapon .name,
.kit .item .name,
.kit .training .name {
  font-size: 1em;
  font-weight: bold;
}

.kit ul {
  margin-block-start: 0;
}