.title-region {
  height: 150px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  /* background-color: rgb(146, 82, 82); */
  align-content: center;
  justify-content: center;
  font-size: 17px;

  h1 {
    margin: 0;
  }
}

.wip-banner {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  margin: 0.5rem;
  border: 1px solid rgb(150, 30, 30);
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(200, 50, 50);
  --icon-padding: 0.5rem;
  --icon-size: 3rem;

  .wip-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--icon-padding);
    svg {
      height: var(--icon-size);
      width: var(--icon-size);
    }
  }

  .wip-text-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - (var(--icon-size) + 2 * var(--icon-padding)));
    text-align: center;
    font-weight: bold;
  }
}
