.title-region {
  height: 150px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  /* background-color: rgb(146, 82, 82); */
  align-content: center;
  justify-content: center;
  font-size: 17px;

  h1 {
    margin: 0;
  }

}

.wip-banner {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  margin: 0.5rem;
  border: 1px solid rgb(150, 30, 30);
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(200, 50, 50);

  .wip-icon-container {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    svg { height: 60%; }
  }

  .wip-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  
}