.fancy-index {
  .title-region {
    height: 200px;
    align-content: center;
    justify-content: center;
  }
  h1 {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
}


.lancelot {
  font-family: "Lancelot", serif;
}
.lancelot .before-title {
  font-size: .6em;
  margin-right: 6em;
  margin-bottom: -.25em;
}
.lancelot .title {
  font-size: 1.1em;
}

.lancelot2 {
  font-family: "Lancelot", serif;
}
.lancelot2 .title {
  font-size: 1.3em;
}

.girassol {
  font-family: "Girassol", serif;
  font-weight: 400;
  font-style: normal;
}

.eagle-lake {
  font-family: "Eagle Lake", serif;
  font-size: 4em;
}
.eagle-lake .before-title {
  font-size: .5em;
  margin-right: 11em;
}
.eagle-lake .after-title {
  font-size: .5em;
  margin-left: 11em;
}

.rye {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.5em;
}

.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 5.5em;
}
h1.cutive-mono-regular.index-title {
  margin-top: 4.5em;
  margin-bottom: 6em;
}
.goblin-one-regular {
  font-family: "Goblin One", serif;
  font-weight: 400;
  font-style: normal;
}
.goblin-one-regular .before-title {
  font-size: .7em;
  margin-right: 6em;
}

.noto-serif-oriya-100 {
  font-family: "Noto Serif Oriya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 5.5em;
}

.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

.life-savers-regular {
  font-family: "Life Savers", serif;
  font-weight: 400;
  font-style: normal;
}

.life-savers-bold {
  font-family: "Life Savers", serif;
  font-weight: 700;
  font-style: normal;
}

.life-savers-extrabold {
  font-family: "Life Savers", serif;
  font-weight: 800;
  font-style: normal;
}

.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
}
.spicy-rice-regular .before-title {
  font-size: .8em;
  margin-right: 4.25em;
}
.spicy-rice-regular .after-title {
  font-size: .8em;
  margin-left: 4em;
}

.cinzel-400 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.cinzel-400 .before-title {
  font-size: .6em;
}

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}
.quintessential-regular .before-title {
  font-size: .4em;
  margin-right: 9em;
}

.quintessential-regular-made-for-two {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;

  .before-title {
    font-size: .8em;
  }
  .after-title {
    font-size: .8em;
    margin-right: 1em;
  }
}

.eater-regular {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
  color: #990000;
  font-size: 4.9em;
}
.eater-regular .before-title {
  font-size: .9em;
}

.fontdiner-swanky-regular {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}

.risque-regular {
  font-family: "Risque", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6em;
}
.risque-regular .before-title {
  font-size: .9em;
}
.risque-regular .after-title {
  font-size: .9em;
}

.kalnia-100 {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 112.5;
}

.croissant-one-regular {
  font-family: "Croissant One", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}
.cinzel-decorative-regular .before-title {
  font-size: .7em;
}

.cinzel-decorative-regular2 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 500;
  font-style: normal;
}
.cinzel-decorative-regular2 .first-letter {
  font-size: 1.4em;
}
.cinzel-decorative-regular2 .final-letter {
  font-size: 1.3em;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}
.shrikhand-regular .title {
  font-size: 1.25em;
}

.cormorant-sc-light {
  font-family: "Cormorant SC", serif;
  font-weight: 300;
  font-style: normal;
}
.cormorant-sc-regular {
  font-family: "Cormorant SC", serif;
  font-weight: 400;
  font-style: normal;
}
.cormorant-sc-medium {
  font-family: "Cormorant SC", serif;
  font-weight: 500;
  font-style: normal;
}
.cormorant-sc-semibold {
  font-family: "Cormorant SC", serif;
  font-weight: 600;
  font-style: normal;
}
.cormorant-sc-bold {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-unicase-light {
  font-family: "Cormorant Unicase", serif;
  font-weight: 300;
  font-style: normal;
}
.cormorant-unicase-regular {
  font-family: "Cormorant Unicase", serif;
  font-weight: 400;
  font-style: normal;
}
.cormorant-unicase-medium {
  font-family: "Cormorant Unicase", serif;
  font-weight: 500;
  font-style: normal;
}
.cormorant-unicase-semibold {
  font-family: "Cormorant Unicase", serif;
  font-weight: 600;
  font-style: normal;
}
.cormorant-unicase-bold {
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
}

.della-respira-regular {
  font-family: "Della Respira", serif;
  font-weight: 400;
  font-style: normal;
}
.della-respira-regular .title {
  font-size: 1.25em;
}
.della-respira-regular .before-title {
  font-size: .5em;
  margin-right: 1.5em;
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}
.sedan-sc-regular .before-title {
  font-size: .75em;
  margin-bottom: -.25em;
}

.castoro-titling-regular {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
}

.kranky-regular {
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
}

.diplomata-sc-regular {
  font-family: "Diplomata SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
}

.elsie-swash-caps-regular {
  font-family: "Elsie Swash Caps", serif;
  font-weight: 400;
  font-style: normal;
}
.elsie-swash-caps-black {
  font-family: "Elsie Swash Caps", serif;
  font-weight: 900;
  font-style: normal;
}

.almendra-regular {
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}
.almendra-regular .after-title {
  font-size: .4em;
  margin: 0 5em;
}
.almendra-bold {
  font-family: "Almendra", serif;
  font-weight: 700;
  font-style: normal;
}
.almendra-regular-italic {
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: italic;
}
.almendra-bold-italic {
  font-family: "Almendra", serif;
  font-weight: 700;
  font-style: italic;
}

.federant-regular {
  font-family: "Federant", serif;
  font-weight: 400;
  font-style: normal;
}

.gideon-roman-regular {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
}
.gideon-roman-regular .before-title {
  font-size: .8em;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6em;
}

.almendra-display-regular {
  font-family: "Almendra Display", serif;
  font-weight: 400;
  font-style: normal;
}

.chonburi-regular {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
}


.almendra-sc-regular {
  font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
}
.almendra-sc-regular .before-title {
  font-size: .5em;
  margin-right: 1.5em;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}
.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}
.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}
.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}
.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}
.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}
.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}

.big-shoulders-display-100 {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 4em;
}

.dot-io .hell {
  color: hsl(0, 100%, 26%);
}
.dot-io .grinder {
  color: hsl(120, 94%, 20%);
}
.dot-io .io {
  color: hsl(240, 60%, 50%);
}

.jolly-lodger-regular {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}
.jolly-lodger-regular .title {
  font-size: 1.25em;
  color: #990000;
}

.big-shoulders-display {
  font-family: "Big Shoulders Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.sixtyfour-convergence {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" -20,
    "XELA" -60,
    "YELA" 0;
}
.sixtyfour-convergence .title {
  font-size: .8em;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4.4em
}

.nosifer-regular {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 6.5em;;
}

.trade-winds-regular {
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4.8em;
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
}
.creepster-regular .before-title {
  font-size: .95em;
  text-align: center;
}
.creepster-regular .title {
  font-size: 1.25em;
  color: #990000;
}

.grenze-gotisch {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.grenze-gotisch .title {
  font-style: italic;
}

.mystery-quest-regular {
  font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.faculty-glyphic-regular .spirit {
  font-size: .8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -0.1em;
}
.faculty-glyphic-regular .spirit .individual-letter {
  display: flex;
  flex-direction: column;
}
.faculty-glyphic-regular .spirit .star {
  font-size: .4em;
}
.faculty-glyphic-regular .spirit .letter {
  height: 100%;
  display: grid;
  width: .7em;
  align-items: start;
}
.faculty-glyphic-regular .spirit .top-letter {
  margin-bottom: -0.1em;
}
.faculty-glyphic-regular .title {
  font-size: .8em;
}

.tapestry-regular {
  font-family: "Tapestry", serif;
  font-weight: 400;
  font-style: normal;
}
.edu-au-vic-wa-nt-pre-400 {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
.bangers-regular .before-title {
  font-size: .8em;
}



.barcoded,
.libre-barcode-39-regular {
  font-family: "Libre Barcode 39", system-ui;
  font-weight: 400;
  font-style: normal;
}
.barcoded .lower-barcode .title, 
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.barcoded .lower-barcode .title {
  letter-spacing: 4px;
}

.barcoded {
  --columns: 12;
  --barcodeTitleColor: white;
  --textTitleColor: rgb(0,0,0,0);
}
.barcoded:hover {
  --barcodeTitleColor: rgb(0,0,0,0);;
  --textTitleColor: white;
}
.barcoded .barcode-holder {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: 1.5em;
}
.barcoded .barcode-holder .lower-barcode,
.barcoded .barcode-holder .upper-barcode {
  grid-column-start: 1;
  grid-column-end: var(--columns);
  grid-row-start: 1;
  grid-row-end: 1;
  place-self: center;
}
.barcoded .upper-barcode .title {
  color: var(--barcodeTitleColor);
}
.barcoded .lower-barcode .title {
  color: var(--textTitleColor);
  font-size: .7em;
}

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.afacad-flux-100 {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  font-size: 6.5em;
}

.lemon-regular {
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
}
.brought-to-you {
  font-size: .8em;
}
.brought-to-you .brought-by {
  margin-left: -3em;
  font-size: .6em;
}

.kalnia-glaze-100 {
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sour-gummy-400 {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 4.5em;
}

.doto-300 {
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

.jetbrains-mono-100 {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
